/* header */
.header__container {
    background-color: var(--primary-color);
    height: 3.5rem;
}

.header__logo {
    height: 60px;
}

.header__auth-section {
    display: flex;
    align-items: center;
    height:100%;
    margin: 0 1rem;
    float:right;
}

.auth__name {
    margin: 0 0.5rem;
    font-weight: 500;
    color:white;
    
}