.profile-info__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    padding: 1rem;
}

.profile-info__photo-container {
    flex: 0 0 250px;
}

.profile-info__photo {
    max-width: 250px;
    max-height: 250px;
    border-radius: 4px;
}

.profile-info__info-container {
    flex: 1 1 auto;
    max-width: calc(100% - 250px);
    margin-left: 1rem;
}

.profile-info__user-name {
    
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-info__status { 
    margin:0.87rem 0;
}