@import './style/profile.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app */
.app-wrapper {
  background-color: var(--surface-b);
  min-width: 840px;
}

.app-wrapper__header {

  
}

.app-wrapper__content {
  display: flex;
  min-height: calc(100vh - 3.5rem);
  background-color: inherit;
}

.app-wrapper__footer {

}

.app-content__sidebar {
  flex: 0 0 200px;  
  background-color: inherit;
}

.app-content__wrapper {
  flex: 1 0 500px;
  min-height: 100%;
  min-width: 400px;
  background-color: var(--surface-c);
}

/* users */
.users__wrapper {
  min-height: 100%;

  
}

.users__header {
  display: flex;
  align-items: center;
  margin: 0 3rem;

}

.users-item__container {

}

.users-item__item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 0.6s;
}

.users-item__item a {
  text-decoration: none;
}

.users-item__item:hover {
  background-color: var(--surface-d);

}

.users-item__user-info {
  margin-left: 10px;
}

.users-item__avatar {

}

.users-item__name {
  padding:10px;
  font-weight: 600;
  color: var(--text-color);
}

.users-item__status {
  padding: 0 0 0 10px;
  font-size: 12px;
  color: var(--text-color-secondary);
}

.users-item__control {
  display: flex;
  align-items: center;
}

.users__search-panel {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: var(--surface-d);
}


/* sidebar */
.sidebar-wrapper {
  height:100%;
  background-color: inherit;
}

.sidebar_nav {
  
  position: sticky;
  top: 0;
  padding: 2rem 0;
  background-color: inherit;
}



.sidebar_nav a {
  display: block;
  padding: 0.4rem 1.2rem;
  height:100%;
  text-decoration: none;
}

.sidebar_nav-item {
  height: 2rem;
  transition-property: background-color;
  transition-duration: 0.6s;
  
}

.sidebar_nav-item .active {
  background-color: var(--surface-400);
  font-weight: 600;
}

.sidebar_nav-item:hover {
  background-color: var(--surface-d);
}

.nav-item__text {
  color: var(--text-color);
}


/* header */
.header__container {
  background-color: var(--primary-color);
  height: 3.5rem;
}

.header__logo {
  height: 60px;
}

.header__login-section {
  float:right
} 