.user {
    display: flex;
    flex-flow: column wrap;
    width: 33.33%;
    align-items: center;
    text-decoration: none;
    
}

.userAvatar {


}

.userName {
    color:white;
    word-break:break-all;
}